services:
  mongo:
    image: mongo:7.0
    container_name: synapsis-mongo
    # restart: always
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: synapsis-backend
    ports:
      - '5000:5000'
    environment:
      MONGO_URI: ${MONGO_URI}
      JWT_SECRET: ${JWT_SECRET}
      PORT: 5000
    volumes:
      - /app/node_modules
      - ./server:/app
    depends_on:
      - mongo

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: synapsis-frontend
    ports:
      - '3000:3000'
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    volumes:
      - /app/node_modules
      - ./client:/app
    depends_on:
      - server

volumes:
  mongo-data:
